.App {
  text-align: center;
}

body {
  margin: 0 10%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .title {
  margin-right: 2%;
}

.header .header-button {
  width: 10%;
}

.navbar {
  margin-top: 5px;
  margin-bottom: 5px;
}

thead {
  background-color: #f9f9f9;
  border-bottom: 2px solid #dee2e6;
}

table .salary,
table .rating,
table .mmr {
  width: 20%;
}

.sub-header {
  margin-top: 3%;
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 500;
}

.company-header {
  display: flex;
  align-items: center;
}

.company-header-name {
  margin-right: 5px;
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
}

.badge {
  color: #737379 !important;
  background-color: #e6ecf1 !important;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.company-info-salary {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 500;
}

.piechart-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-company-name {
  color: #737379 !important;
  font-size: calc(1.275rem + 0.3vw);
}

.job-title-name {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
}

#chart_div {
  display: block;
  margin: 0 auto;
}

.review-input {
  width: 75%;
  margin: 1% 0%;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.review-header .btn {
  height: 40px;
  margin-bottom: 5px;
}

.review-card {
  margin-bottom: 10px;
}

textarea {
  width: 75%;
}
